---
layout: archive
published: true
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% if post.thumbnail %}
  	<img src="{{ post.thumbnail }}" style="height: 280px" align="center" />
  {% endif %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
